@charset "utf-8";
a {
  color: #0000ff;
  text-decoration: none;
}
a:visited {
  color: #000088;
}
body {
  width: 54em;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-image: url(../img/azoren2.jpg);
  background-repeat: repeat-x;
  font-size: 110%;
}
code {
  font-family: 'Courier New', Courier, Mono;
}
dt {
  font-style: italic;
}
h1, h2, h3 {
  color: #475B19;
}
h1 {
  font-size: 2.2em;
  margin-bottom: 0;
}
pre {
  font-family: 'Courier New', Courier, Mono;
  font-size: 100%;
  padding: 0.5em;
  padding-left: 1em;
  color: #000000;
  background-color: #ddffdd;
  line-height: 1.2;
  overflow: auto;
  border-radius: 12px 12px;
}
td {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: dotted;
  border-color: grey;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
th {
  background-color: #bbeeff;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.content {
  margin-top: 100px;
  line-height: 1.5;
}
.content img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 2px 2px 4px #999999;
}
.date {
  color: #666666;
  text-align: right;
  margin-bottom: -1em;
  font-size: 90%;
}
.footer {
  text-align: right;
  margin-top: 4em;
  margin-bottom: 2em;
  font-size: 80%;
  clear: both;
}
.logo {
  color: white;
  font-size: 1.8em;
  margin: 0px;
  margin-top: 20px;
  text-shadow: black 1px 1px 4px;
  line-height: 1em;
}
.logo .subtitle {
  font-size: 58%;
  font-weight: normal;
}
.navigation {
  position: absolute;
  top: 116px;
  font-weight: bold;
  font-size: 110%;
}
.navigation a {
  color: white;
  text-decoration: none;
}
.navigation a:hover {
  color: black;
  background-color: white;
}
.summary {
  font-weight: bold;
}
.toc, .toc ul, .toc ul ul, .toc ul ul ul {
  list-style-type: none;
  padding-left: 0.5em;
}

